<ul>
  <li>
    <div class="pokemon">
        <div class="image">
          <img [src]="pokemon.img"/>
          <img [src]="pokemon.sprite"/>
        </div>
        <div class="description">
          <p class="nompoke">{{ pokemon.name | uppercase }}</p>
          <p>génération = {{ pokemon.generation }}</p>
          <p>PV = {{ pokemon.HP}}</p>
          <p>ATTAQUE = {{ pokemon.Attack}}</p>
          <p>ATTAQUE SPE = {{ pokemon.spe_attack}}</p>
          <p>DEFENSE = {{ pokemon.Defense }}</p>
          <p>DEFENSE SPE = {{ pokemon.spe_defense}}</p>
          <p>VITESSE = {{ pokemon.Vitesse }}</p>
        </div>
            <!-- <button class="w3-button w3-blue" (click)="onClick()">Sélectionner ce pokemon</button> -->
  </div></li>
</ul>
