<header class="w3-cell-row general">
    <div class="w3-cell w3-cell-middle">
        <span class="w3-padding"><a routerLink="/Home" routerLinkActive="gras">Accueil</a></span>
        <span class="w3-padding"><a routerLink="/Gen1a3" routerLinkActive="gras">Génération 1 à 3 </a></span>
        <span class="w3-padding"><a routerLink="/Gen4a6" routerLinkActive="gras">Génération 4 à 6</a></span>
        <span class="w3-padding"><a routerLink="/Gen7a8" routerLinkActive="gras">Génération 7 à 8</a></span>
        <span class="w3-padding"><a routerLink="/About" routerLinkActive="gras">About</a></span>
    </div>
</header>