<header class="w3-cell-row general">
    <div class="w3-cell w3-cell-middle">
        <span class="shiny-btn"><a routerLink="/Home" routerLinkActive="gras">Accueil</a></span>
        <span class="shiny-btn"><a routerLink="/generation1" routerLinkActive="gras">Génération 1 </a></span>
        <span class="shiny-btn"><a routerLink="/generation2" routerLinkActive="gras">Génération 2 </a></span>
        <span class="shiny-btn"><a routerLink="/generation3" routerLinkActive="gras">Génération 3</a></span>
        <span class="shiny-btn"><a routerLink="/generation4" routerLinkActive="gras">Génération 4</a></span>
        <span class="shiny-btn"><a routerLink="/generation5" routerLinkActive="gras">Génération 5</a></span>
        <span class="shiny-btn"><a routerLink="/generation6" routerLinkActive="gras">Génération 6</a></span>
        <span class="shiny-btn"><a routerLink="/generation7" routerLinkActive="gras">Génération 7</a></span>
        <span class="shiny-btn"><a routerLink="/generation8" routerLinkActive="gras">Génération 8</a></span>
        <span class="shiny-btn"><a routerLink="/About" routerLinkActive="gras">About</a></span>
    </div>
</header>
