.form-control{
    padding: 5px 10px;
    background-color: rgb(52, 119, 179);
    color: white;
    border-color: black;
    width: 100px;
    height: 30px;
  }
  option:hover{
    background-color: white;
    color: rgb(52, 119, 179);
  }

  .form-control{
    padding: 5px 10px;
    background-color: rgb(52, 119, 179);
    color: white;
    border-color: black;
    width: 100px;
    height: 30px;
  }
  option:hover{
    background-color: white;
    color: rgb(52, 119, 179);
  }

  .pokeball{
    width: 5%;
    padding: 5px;
  }


