<div class="carre">
    <div class="pokemon">
      <app-nav-bar></app-nav-bar>
      <form>
        Nom du pokémon à rechercher : <input formControlName="search">
      </form>
      <button class="w3-button w3-blue" (click)="Onclick()">Générer une team aléatoire !</button>
      <ng-container *ngIf="pokemons.length > 0">
        <ng-container *ngFor="let item of pokemons">
            <app-pokemon [pokemon]="item" (eventOut)="onEvent($event)"></app-pokemon>
        </ng-container>
      </ng-container>
      </div>
    </div>