/* You can add global styles to this file, and also import other style files */
@import "https://www.w3schools.com/w3css/4/w3.css";

html {
    height: 100%;
    padding: 10px;
    background-image: url('assets/bitee.jpg');
    background-size: cover;
    background-position: center;
}

body {
    height: 100%;
    padding: 10px;
}


div, content, header {
    padding: 10px;
}

a {
    text-decoration: none;
}
